Client/Client/Connected Services/GameServiceReference/GameService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FourRowService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FourRowService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WrongPasswordFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WrongPasswordFault" nillable="true" type="tns:WrongPasswordFault" />
  <xs:complexType name="GameInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="FParticipant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FParticipantP" type="xs:int" />
      <xs:element minOccurs="0" name="Live" type="xs:boolean" />
      <xs:element minOccurs="0" name="SParticipant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SParticipantP" type="xs:int" />
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Winner" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameInfo" nillable="true" type="tns:GameInfo" />
  <xs:complexType name="CommonGamesInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Champion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommonGames" nillable="true" type="tns:ArrayOfGameInfo" />
      <xs:element minOccurs="0" name="Precentage" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommonGamesInfo" nillable="true" type="tns:CommonGamesInfo" />
  <xs:complexType name="ArrayOfGameInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameInfo" nillable="true" type="tns:GameInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameInfo" nillable="true" type="tns:ArrayOfGameInfo" />
  <xs:complexType name="InvitationFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvitationFault" nillable="true" type="tns:InvitationFault" />
  <xs:complexType name="LiveGameFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LiveGameFault" nillable="true" type="tns:LiveGameFault" />
</xs:schema>